body,html {
    min-width: 1200px;
    min-height: 768px;
    height: 100%;
	margin: 0;
}
header{
	height: 210px;
}
div{
	margin-top: -40px;
	margin-left: -20px;
	display: block;
}


.nav-bar a{
    float: left;
    display: block;
    color: black;
	margin: 70px;
	margin-top: -90px;
	margin-left: 1200px;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 24px;
	font-family: "Basic Title Font", Sans-Serif-Serif;

	
}
.nav-bar a:hover{
	background-color: #4E4E50;
	color:black;
	
	
}
.nav-bar a.active {
    background-color: black;
    color: white;
}

h1 {
	
	font-size: 80px;
	font-family: "Segoa UI", Sans-Serif-Serif;
	font-style: Italic;
	padding: 10px 10px;
	margin-top: 130px;
	margin-left: 80px;
	
	
} 
h6 {
	font-size: 30px;
	font-family: "aliens and cows", Sans-Serif-Serif;
	font-style: Bold;
	padding: 10px 10px;
	margin-left: 580px;
	margin-top: 180px;
	
	
}
h2{
	font-size: 80px;
	font-family: "Bebas Neue", Sans-Serif-Serif;
	color: #950740;
	margin-left: 650px;
	padding: 50px 10px;
	

}
h4 {
	font-size: 25px;
	font-family: "Bebas Kai", Sans-Serif-Serif;
	color: #4E4E50;
	margin-left: 600px;
	margin-top: -60px;
	
}
 h3 {
	 
	  font-size: 50px;
	  margin-left: 450px;
	  margin-top: -8px;
	  margin-bottom: 20px;
	  text-align: left;
	  padding: 40px 20px;
	  font-family: 'Lato', Sans-Serif;
	 
 }
 p{
	 
	font-size: 30px;
	font-family: "Lato", Sans-Serif;
	margin-left: 200px;
	 
 }
 
 .parallax {
	
    min-height: 490px; 
	position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px; 
	margin: 0;
}

.brdr-1 {
	
	margin: 0;
	position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: auto;
	
}

.brdr-1 {
	background-image: url("bokeh.jpg");
	max-width: 100%;
	
}


.brdr-3{
	margin: 0;
	position:absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
	
}
.brdr-4{
	margin: 0;
	position:absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
	
















