body,html {
    min-width: 1200px;
    min-height: 768px;
    height: 100%;
	margin: 0;
}
header{
	height: 210px;
}
div{
	margin-top: -40px;
	margin-left: -20px;
	display: block;
}


.nav-bar a{
    float: left;
    display: block;
    color: black;
	margin: 70px;
	margin-top: -90px;
	margin-left: 1200px;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 24px;
	font-family: "Basic Title Font", Sans-Serif-Serif;

	
}
.nav-bar a:hover{
	background-color: #4E4E50;
	color:black;
	
	
}
.nav-bar a.active {
    background-color: black;
    color: white;
}

h1 {
	
	font-size: 80px;
	font-family: "Segoa UI", Sans-Serif-Serif;
	font-style: Italic;
	padding: 10px 10px;
	margin-top: 130px;
	margin-left: 80px;
	
	
} 
h6 {
	font-size: 30px;
	font-family: "aliens and cows", Sans-Serif-Serif;
	font-style: Bold;
	padding: 10px 10px;
	margin-left: 580px;
	margin-top: 180px;
	
	
}
h2{
	font-size: 80px;
	font-family: "Bebas Neue", Sans-Serif-Serif;
	color: #950740;
	margin-left: 650px;
	padding: 50px 10px;
	

}
h4 {
	font-size: 25px;
	font-family: "Bebas Kai", Sans-Serif-Serif;
	color: #4E4E50;
	margin-left: 600px;
	margin-top: -65px;
	
}
 h3 {
	 
	  font-size: 50px;
	  margin-left: 450px;
	  margin-top: -8px;
	  margin-bottom: 20px;
	  text-align: left;
	  padding: 40px 20px;
	  font-family: 'Lato', Sans-Serif;
	  color: white;
	 
 }
 
 h5 {
	 
	font-size: 90px;
	font-family: "Bebas Neue", Sans-Serif-Serif;
	color: black;
	margin-left: 20px;
 }
 
 p{
	 
	font-size: 25px;
	font-family: "Lato", Sans-Serif;
	margin-left: 200px;
	color:white;
	 
 }
 
 .parallax {
	
    min-height: 450px; 
	position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px; 
	margin: 0;
}

.parallax_1 {
	
    min-height: 400px; 
	position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
	margin: 0 auto;
	
}

.brdr-1 {
	
	margin: 0;
	position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: auto;
	
}

.brdr-1 {
	background-image: url("bokeh.jpg");
	max-width: 100%;
	
}


.brdr-3{
	margin: 0;
	position:absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
	
}
.images-container{
	margin: 0;
	position:absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	padding-top: -50px;
	padding-bottom: 10px;
	
}	
#wrapper {
    width:700px;	
    margin:0 auto; 
    background:#fff; 
    text-align:center; 
    border:1px solid #ccc;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: -50px;
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; 
    box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}

#lightbox {
	display: none;
    position: absolute;
    width:100%; 
    height:100%; 
	background:url(overlay.png) repeat; 
    text-align:center;
	overflow:auto;
	margin:0px;
	padding:0px;
	margin-top: -450px;
	margin-bottom: 600px;
}

#lightbox p {
    text-align: center; 
    color:#fff; 
    margin-right:10px; 
    font-size:15px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:600px;
}

