body,html {
    min-width: 1200px;
    min-height: 768px;
    height: 100%;
	margin: 0;
}
header{
	height: 210px;
}
div{
	margin-top: -40px;
	margin-left: -20px;
	display: block;
}


.nav-bar a{
    float: left;
    display: block;
    color: black;
	margin: 70px;
	margin-top: -90px;
	margin-left: 1200px;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 24px;
	font-family: "Basic Title Font", Sans-Serif-Serif;

	
}
.nav-bar a:hover{
	background-color: #4E4E50;
	color:black;
	
	
}
.nav-bar a.active {
    background-color: black;
    color: white;
}

h1 {
	
	font-size: 80px;
	font-family: "Segoa UI", Sans-Serif-Serif;
	font-style: Italic;
	padding: 10px 10px;
	margin-top: 130px;
	margin-left: 80px;
	
	
} 
h6 {
	font-size: 30px;
	font-family: "aliens and cows", Sans-Serif-Serif;
	font-style: Bold;
	padding: 10px 10px;
	margin-left: 580px;
	margin-top: 180px;
	
	
}
h2{
	font-size: 80px;
	font-family: "Bebas Neue", Sans-Serif-Serif;
	color: #950740;
	margin-left: 650px;
	padding: 50px 10px;
	

}
h4 {
	font-size: 25px;
	font-family: "Bebas Kai", Sans-Serif-Serif;
	color: #4E4E50;
	margin-left: 600px;
	margin-top: -65px;
	
}
 h3 {
	 
	  font-size: 50px;
	  margin-left: 450px;
	  margin-top: -8px;
	  margin-bottom: 20px;
	  text-align: left;
	  padding: 40px 20px;
	  font-family: 'Lato', Sans-Serif;
	 
 }
 p{
	 
	font-size: 30px;
	font-family: "Lato", Sans-Serif;
	margin-left: 200px;
	 
 }
 
 .parallax {
	
    min-height: 450px; 
	position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px; 
	margin: 0;
}

.brdr-1 {
	
	margin: 0;
	position:relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: auto;
	
}

.brdr-1 {
	background-image: url("bokeh.jpg");
	max-width: 100%;
	
}


.brdr-3{
	margin: 0;
	position:absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
	
}
.images-container{
	margin: 0;
	position:absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	
}	
.row > .column {
	 padding: 0 8 px;
	
}

.row:after {
	
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 25%;
}

/*modal */

.modal {
	
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:black;
	
}

.modal_content {
	
	position:relative;
	background-color: #fefefe;
	margin:auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
	
}
.close {
	
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 20px;
	font-weight: bold;
}

.close:hover, .close:focus{
	
	color: #999;
	text-decoration: none;
	cursor: pointer;

}
.Slide {
	display:none;
}

/*buttons */

.prev, .next {
	
	cursor: pointer;
	position: absolute;
	top:50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color:white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next{
	
	right: 0;
	border-radius: 3px 0 0 3px;
	
	
}
.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.numberTxt {
	
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	
}
.caption-container{
	
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

img.Gallery{
	
	opacity: 0.6;
}

.active, .Gallery:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s
}

.hover-shadow:hover {
	
	box-shadow: 0 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 
	rgba(0, 0, 0, 0.19)
	
}

